<div>
  <button class="btn btn-success" data-action="click->edit#displayForm"><i class="fa-solid fa-pen"></i>&nbsp; Update</button>
  <div data-edit-target="form" class="form-update d-none">
    <%= simple_form_for([company, employee]) do |f| %>
      <%= f.input :fullname, input_html:{placeholder: "Name"} %>
      <%= f.input :phone_number %>
      <%= f.input :email %>
      <%= f.button :submit, class: 'btn btn-info', value: 'Done' %>
    <% end %>
  </div>
</div>
