  <div>
    <%= form_with model:@employee, url: company_employee_path(company, employee) do |f| %>
      <%= f.label :fullname %>
      <%= f.text_field :fullname %>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit %>
    <% end  %>
  </div>
