
<div class="row form">
  <div class="col-12">
    <div md-3>
      <%= simple_form_for company, url: companies_path do |f| %>
        <%= f.label :company_name %>
        <%= f.text_field :company_name %>
        <%= f.label :industry %>
        <%= f.text_field :industry %>
        <%= f.label :address %>
        <%= f.text_field :address %>
        <%= f.submit class: ('btn btn-info') %>
      <% end  %>
    </div>
  </div>
</div>
