<div class="d-none">
  <%= simple_form_for(company) do |f| %>
    <%= f.input :company_name %>
    <%= f.input :industry %>
    <%= f.input :address %>
    <%= f.button :submit, class: 'btn btn-info' %>
  <% end %>
</div>
