<div>
  <%= form_with model: company do |f| %>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
    <%= f.label :industry %>
    <%= f.text_field :industry %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.submit %>
  <% end %>
</div>
