<div>
  <h1>All companies</h1>

  <ul>
    <% @companies.each do |company| %>
    <li><%= company.company_name %></li>
    <li><%= company.industry %></li>
    <li><%= company.address %></li>
    <li><%= link_to "detail", company_path(company) %></li>
    <% end %>
  </ul>

  <h2>Create a new company</h2>
  <%= render 'companies/new', company: @company %>


</div>
