<div>
  <h1>All companies</h1>

<ul>
  <% @companies.each do |company| %>
  <li><%= company.company_name %></li>
  <li><%= company.industry %></li>
  <li><%= company.address %></li>
  <% end %>
</ul>

</div>

<div>


  <%= form_with model: @company do |f| %>
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
    <%= f.label :industry %>
    <%= f.text_field :industry %>
    <%= f.label :address %>
    <%= f.number_field :address %>
    <%= f.submit %>
<% end  %>

</div>
