<div class="container d-flex justify-content-center p-4 m-5">
  <div class="card-show m-4">
    <div class="row">
      <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1560179707-f14e90ef3623?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y29tcGFueXxlbnwwfHwwfHx8MA%3D%3D" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-text"><%= @company.company_name %></h5>
          <p class="card-text"><small class="text-body-secondary"><%= @company.industry %></small></p>
          <p class="card-text"><small class="text-body-secondary"><%= @company.address %></small></p>
        </div>
      </div>
    </div>
  </div>
</div>



<div>
  <%= link_to "employees", company_employees_path(@company) %>
</div>

<div>
  <button class="btn btn-primary">click</button>
  <%= render "companies/update", company: @company %>
</div>

<div>
  <%= link_to "Delete", company_path(@company),
      data: {turbo_method: :delete, turbo_confirm: "Do you want to delete this company?"}
    %>

</div>
